.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.game *{
  width: 100%;
  color: #e8e8e8;
}

.title {
  color: #e8e8e8;
}

.game {
  flex-basis: 100;
}