button {
  border-radius: 0.5em;
  color: #e8e8e8;
  background: #333A56;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover {
  background: #52658f;
}

button:active {
  background: #52658f;
  top: 2px;
}

input {
  border: none;
  padding: 0 0.5em;
  border-radius: 0.5em;
}