button {
  border-radius: 0.5em;
  color: #e8e8e8;
  background: #333A56;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

button.active {
  background: #52658f;
}

button:hover {
  background: #52658f;
}

button:active {
  background: #52658f;
  top: 2px;
}

input {
  border: none;
  padding: 0 0.5em;
  border-radius: 0.5em;
}

main {
  min-height: 100vh;
  margin: 0 1em;
  padding-bottom: 4em;
}